/*------------------------------------*\
	# Layout
\*------------------------------------*/

$maxWidth = 1600px
$bumperPadding = 6%


/*------------------------------------*\
	# Colors
\*------------------------------------*/

$primary = #9b59b6
$secondary = lighten($primary, 10%)
$tertiary = darken($primary, 20%)

$info = #3498db
$success = #2ecc71
$warning = #f1c40f


/*------------------------------------*\
	# Grayscale
\*------------------------------------*/

$white = #ffffff
$lightestGray = darken($white, 4%)
$lighterGray = darken($white, 10%)
$lightGray = darken($white, 25%)
$gray = darken($white, 35%)
$darkGray = darken($white, 55%)
$darkerGray = darken($white, 65%)
$darkestGray = darken($white, 75%)
$black = #000000


/*------------------------------------*\
	# Base
\*------------------------------------*/

$baseColor = $darkerGray
$baseFont = 'Helvetica Neue', Helvetica, sans-serif
$baseFontSize = 1.6rem
$baseFontWeight = normal
$baseLineHeight = 1.2em

$bodyBackground = $white


/*------------------------------------*\
	# Links
\*------------------------------------*/

$linkColor = $primary
$linkColorHover = lighten($primary, 10%)
$linkColorActive = darken($primary, 20%)

$linkDecoration = none
$linkDecorationHover = underline


/*------------------------------------*\
	# Headings
\*------------------------------------*/

$headingColor = $baseColor
$headingFont = $baseFont
$headingFontWeight = $baseFontWeight
$headingLineHeight = $baseLineHeight


/*------------------------------------*\
	# Variables
\*------------------------------------*/

$retinaSuffix = '-2x'
$smallFontSize = 0.8rem


/*------------------------------------*\
	# Buttons
\*------------------------------------*/

$buttonColor = $white
$buttonFont = $baseFont
$buttonFontSize = $baseFontSize
$buttonFontWeight = $baseFontWeight

$buttonBackground = $primary
$buttonBackgroundHover = lighten($primary, 10%)
$buttonBackgroundActive = darken($primary, 20%)

$buttonMarginBottom = ($baseLineHeight * 10)px;

$buttonPaddingHorizontal = 1.5rem
$buttonPaddingVertical = 1.5rem

$buttonRounded = 0px