/*------------------------------------*\
	# Layout
\*------------------------------------*/

.container
	margin: 0 auto;
	max-width: $maxWidth;
	padding: $bumperPadding





/*------------------------------------*\
	# Layout
\*------------------------------------*/

html
	font-size: 62.5%

body
	background: $bodyBackground
	color: $baseColor
	font-family: $baseFont
	font-size: $baseFontSize
	font-weight: $baseFontWeight
	line-height: $baseLineHeight





/*------------------------------------*\
	# Links
\*------------------------------------*/

a
	color: $linkColor
	text-decoration: $linkDecoration;
	&:hover
		color: $linkColorHover
		text-decoration: $linkDecorationHover
	&:active
		color: $linkColorActive





/*------------------------------------*\
	# Headings
\*------------------------------------*/

h1,h2,h3,h4,h5,h6
	color: $headingColor
	font-family: $headingFont
	font-weight: $headingFontWeight
	line-height: $headingLineHeight





/*------------------------------------*\
	# Buttons
\*------------------------------------*/

.button
	background: $buttonBackground
	border-radius: $buttonRounded
	color: $buttonColor
	display: block
	font-family: $buttonFont
	font-size: $buttonFontSize
	font-weight: $buttonFontWeight
	margin-bottom: $buttonMarginBottom
	padding: $buttonPaddingHorizontal $buttonPaddingVertical
	&:hover
		background: $buttonBackgroundHover
		color: $white
	&:active
		background: $buttonBackgroundActive
		color: $white